################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TickTock/obj/Debug
/TickTock/bin/Debug
